@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
    background-image: url(../imaging/backdropp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.thelist {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    background-color: #f6a25e;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.logohome {
    grid-column-start: 1;
}

.memepage, .browsepage {
    color: black;
    font-size: 30px;
}

.browsepage {
    grid-column-start: 3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster';
}

p {
    font-family: 'Kalam';
}

h1 {
    background-color: #2834A0;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    margin: 25px;
    -webkit-text-stroke: 0.25px black;
    color: #B6FFD7;
    font-size: 48px;
}

h3 {
    -webkit-text-stroke: 0.25px black;
    color: #50D18A;
    font-size: 48px;
    grid-column-start: 2;
    grid-row-start: 1;
}

.box1, .box2 {
    background-color: rgba(255, 245, 225, 0.7);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
    margin: 70px 0;
}

h2, h4 {
    font-size: 30px;
    grid-column-start: 2;
}

h2 {
    grid-row-start: 1;
}

h4 {
    grid-row-start: 2;
}

.img1, .img2 {
    grid-column-start: 2;
}

.img1 {
    grid-row-start: 2;
}

.img2 {
    grid-row-start: 3;
}

.description, .description2 {
    font-size: 25px;
    grid-column-start: 2;
}

.description {
    grid-row-start: 3;
}

.description2 {
    grid-row-start: 4;
}

.like-button {
    grid-column-start: 2;
    display: flex;
    align-items: center;
}

.like-button .heart-icon {
    height: 100px;
    width: 100px;
    background: url("../imaging/heart.png");
    background-position: left;
    cursor: pointer;
    position: absolute;
}

.like-button .heart-icon.liked {
    animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
    to {
        background-position: right;
    }
}

.like-button .heart-bg {
    background: rgba(255, 192, 200, 0);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
}

.like-button .heart-bg:hover {
    background: rgba(255, 192, 200, 0.7);
}

.like-button .likes-amount {
    font-size: 20px;
    font-family: "Kalam";
    color: #888;
    font-weight: 900;
    margin-left: 6px;
}

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    background-color: #f6a25e;
    margin: 0;
    padding: 0;
}

.copyright, .meee {
    grid-column-start: 2;
}

.copyright {
    grid-row-start: 2;
}

.meee {
    grid-row-start: 1;
}

.insta, .face, .x {
    width: 100px;
}

.insta {
    grid-column-start: 1;
    grid-row-start: 3;
}

.face {
    grid-column-start: 2;
    grid-row-start: 3;
}

.x {
    grid-column-start: 3;
    grid-row-start: 3;
}
